@import './reset';
@import './variables/media-points';
@import './variables/functions';
@import './variables/variables';
@import './themes/dark';
@import './themes/light';

.app {
  font: var(--font-m);

  background-color: var(--bg-main-color);
  color: var(--text-main-color);

  min-height: 100vh;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.page-content {
  display: flex;
  min-height: var(--page-content-min-height);
  width: 100%;
  position: relative;

  > aside {
    flex-shrink: 0;
  }

  > .page {
    flex-grow: 1;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

* {
  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: var(--bg-primary-color) solid 2px;
    outline-offset: 3px;
  }
}
