.sidebar {
  // make the sidebar non-movable across the entire page
  height: 100vh;
  top: 0;
  position: sticky;

  // necessary for correct placement of the logo
  margin-top: calc(-1 * var(--navbar-height));
  z-index: 1;

  background-color: var(--bg-secondary-color);

  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);

  transition:
    width 0.2s ease-in-out,
    visibility 0.2s ease-in-out;

  // creates a small transparent stripe, when hovered over it a button appears
}

.content {
  order: 1;
  height: 100%;

  display: flex;
  flex-direction: column;
  padding: rem(10);
}

.toggler {
  text-wrap: nowrap;
  position: relative;
  width: 100%;
  min-height: rem(30);
  cursor: pointer;
  color: var(--text-main-color);
  background-color: transparent;
  font: var(--font-sm);

  border: none;

  &:hover {
    background-color: var(--bg-inverted-secondary-color);
    color: var(--text-inverted-main-color);
  }

  &:active {
    opacity: var(--main-active-opacity);
  }
}

.logo {
  min-height: var(--navbar-height);
  padding-left: var(--main-desktop-padding);
  text-wrap: nowrap;
}

.sidebar.collapsed {
  width: var(--sidebar-width-collapsed);
  margin-top: 0;
  height: 100%;
  visibility: hidden;
  position: absolute;

  & > .content,
  & > .logo {
    display: none;
  }

  & > .toggler {
    visibility: visible;
    position: sticky;
    top: 25vh;
    left: 0;
    background-color: transparent;

    height: 100%;

    &.show::after {
      transform: translateX(rem(20));
    }

    &:hover {
      opacity: var(--main-hover-opacity);
    }

    &::after {
      content: '<';
      display: flex;
      align-items: center;
      justify-content: center;
      width: rem(30);
      height: rem(30);
      border-radius: 50%;
      border: 1px solid var(--bg-inverted-secondary-color);
      color: var(--bg-inverted-secondary-color);

      transform: translateX(rem(-50));
      transition: transform 0.2s;
    }
  }
}
