.sidebar {
  // make the sidebar non-movable across the entire page

  top: 0;
  margin-top: calc(-1 * var(--navbar-height));
  position: sticky;
  height: 100vh;

  z-index: 0;

  background-color: var(--bg-secondary-color);

  display: flex;
  flex-direction: column;
  width: var(--sidebar-width);

  transition: width 0.2s ease-in-out;

  // creates a small transparent stripe, when hovered over it a button appears
}

.content {
  order: 1;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  padding: rem(10);
}

.toggler {
  margin-top: var(--navbar-height);

  text-wrap: nowrap;
  position: relative;
  width: 100%;
  min-height: rem(30);
  cursor: pointer;
  color: var(--text-main-color);
  background-color: transparent;
  font: var(--font-sm);

  border: none;
  transition: margin 0.1s ease-in-out;

  &:hover {
    background-color: var(--bg-inverted-secondary-color);
    color: var(--text-inverted-main-color);
  }

  &:active {
    opacity: var(--main-active-opacity);
  }
}

.toggler.topLocation {
  margin-top: rem(20);
}

// .sidebar.collapsed {
//   width: var(--sidebar-width-collapsed);
//   margin-top: 0;
//   height: 100%;
//   visibility: hidden;
//   position: absolute;

//   & > .content {
//     visibility: hidden;
//   }

//   & > .toggler {
//     margin: 0;
//     visibility: visible;
//     position: sticky;
//     left: 0;
//     background-color: transparent;

//     height: 100%;

//     &.show::after {
//       transform: translateX(rem(20));
//     }

//     &::after {
//       content: '<';
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       width: rem(30);
//       height: rem(30);
//       border-radius: 50%;
//       border: 1px solid var(--bg-iverted-main-color);
//       color: var(--bg-iverted-main-color);
//       background-color: var(--bg-secondary-color);

//       transform: translateX(rem(-50));
//       transition: transform 0.2s;
//     }
//   }
// }

.sidebar.collapsed {
  width: var(--sidebar-width-collapsed);

  & .content {
    padding: rem(10) 0;
    overflow: hidden;
  }
}
