.bottomSection {
  margin-top: auto;
}

.languageSwitcher {
  margin-bottom: 10px;
}

.languageSwitcher,
.themeSwitcher {
  align-self: center;
}

.themeText {
  align-self: center;
  font: var(--font-s);
  color: var(--text-secondary-color);
}
