.dark {
  --bg-main-color: #3b3a3a;
  --bg-secondary-color: #525252;
  --bg-iverted-main-color: #ebebeb;
  --bg-inverted-secondary-color: #d8d8d8;

  --bg-primary-color: #f85407;
  --text-primary-color: #ebebeb;

  --text-main-color: #ebebeb;
  --text-secondary-color: #c4c4c4;
  --text-inverted-main-color: #2c2c2c;
  --text-inverted-secondary-color: #575757;
}
