.input {
  padding: rem(10);
  width: 100%;
  background-color: var(--bg-main-color);
  color: var(--text-main-color);
  border: rem(2) solid var(--bg-inverted-secondary-color);
  border-radius: var(--main-border-radius);

  font-family: var(--font-family-main);
  font-size: var(--font-size-m);

  &::placeholder {
    color: var(--text-secondary-color);
  }

  &:hover {
    background-color: var(--bg-secondary-color);
  }

  &:focus {
    outline: none;
    border-color: var(--bg-primary-color);
  }
}
