.button {
  cursor: pointer;
  border: none;

  &:hover {
    transition: background-color 0.1s;
    opacity: var(--main-hover-opacity);
  }

  &:active {
    opacity: var(--main-active-opacity);
  }
}

.normal {
  background-color: var(--bg-main-color);
  color: var(--text-main-color);
}

.invert {
  background-color: var(--bg-iverted-main-color);
  color: var(--text-inverted-main-color);
}

.secondary {
  background-color: var(--bg-secondary-color);
}

.primary {
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-weight: 500;
  text-transform: uppercase;
}

.border {
  background-color: transparent;
  border: 1px solid var(--bg-iverted-main-color);
}

.normal_size {
  padding: rem(10) rem(20);
  font-size: var(--font-size-m);

  border-radius: rem(30);
}

.small_size {
  padding: rem(6) rem(14);
  font-size: var(--font-size-s);

  border-radius: rem(20);
}

.big_size {
  padding: rem(15) rem(40);
  font-size: var(--font-size-m);
  border-radius: rem(40);
}
