.loader {
  width: rem(65);
  aspect-ratio: 1;
  position: relative;
}

.loader::before,
.loader::after {
  content: '';
  position: absolute;
  border-radius: rem(50);
  box-shadow: 0 0 0 3px inset var(--bg-secondary-color);
  animation: l5 2.5s infinite;
}

.loader::after {
  animation-delay: -1.25s;
  border-radius: 0;
}

@keyframes l5 {
  0% {
    inset: 0 rem(35) rem(35) 0;
  }

  12.5% {
    inset: 0 rem(35) 0 0;
  }

  25% {
    inset: rem(35) rem(35) 0 0;
  }

  37.5% {
    inset: rem(35) 0 0;
  }

  50% {
    inset: rem(35) 0 0 rem(35);
  }

  62.5% {
    inset: 0 0 0 rem(35);
  }

  75% {
    inset: 0 0 rem(35) rem(35);
  }

  87.5% {
    inset: 0 0 rem(35);
  }

  100% {
    inset: 0 rem(35) rem(35) 0;
  }
}
